    @media (prefers-color-scheme: dark) {

        body {
            Background-color: #242222;
            box-shadow: 5px 10px 8px 10px #111111;
            color: white;
        }

        .jumbotron {
            background-color: #4a4a4d
        }
    }

    @media (prefers-color-scheme: light) {

        body {
            background-color: #ffffff;
            box-shadow: 5px 10px 8px 10px #111111;
        }

        .jumbotron {
            background-color: #bababe;
        }
    }

    @media (prefers-color-scheme: no-preference) {

        body {
            background-color: #ffffff;
            box-shadow: 5px 10px 8px 10px #111111;
        }

        .jumbotron {
            background-color: #bababe;
        }
    }

    .article {
        position: static;
        line-height: 1.6;
        font-size: 15px;
    }

    .article h1 {
        margin-right: 20px;
    }

    .article h2 {
        margin-top: 20px;
    }

    .article p {
        margin-right: 100px;
        margin-right: 30px;
    }

    nav {
        background-color: #6f42c1;
    }

    .christmas {
        background-attachment: scroll;
        background-image: url('tree.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: static;
        line-height: 1.6;
        ;
        font-size: 15px;
        box-shadow: 5px 10px 8px 10px #111111;
    }